/*? Example One */
.container {
    margin: 1rem;
    width: 300px;
    height: 300px;
    background-color: grey;
}

.item {
    background-color: green;
    height: 50%;
    width: 50%;
    /*TODO cubic-bezier values can be found and edited in the browser inspect menu when clicking the 'ease' property in the css  */
    transition: all 1s cubic-bezier(0, 1.39, 1,-0.23);
}

.container:hover .item {
    background-color: pink;
    transform: translateX(100%);
}
/*? Example One END */

/*! Example Two */
.container2 {
    margin: 1rem;
    width: 300px;
    height: 300px;
    background-color: grey;
}

.item2 {
    background-color: green;
    height: 50%;
    width: 50%;
    animation: banana 1s ease-in forwards infinite alternate;
}
/*TODO Pausing animation when hovering */
.container2:hover .item2 {
    animation-play-state: paused;
}

/*TODO Declaring frames for animation */
@keyframes banana {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateY(100%);
    }

    40% {
        transform: translateX(100%) translateY(100%);
    }

    60% {
        transform: translateX(100%);
    }

    80% {
        transform: translateX(0);
    }

    100% {
        transform: translateY(100%);
    }
}
/*! Example Two END */